.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    margin: auto;
    width: 90%;
    color: #fff;
}

.logo>img {
    max-width: 300px;
    border-radius: 50%;
}

.logout-button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    color: #fff1ff;
}

.logout-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}